@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.margin_add {
  margin-right: -6%;
}

.item_space {
  padding-left: 13% !important;
  text-align: center;

}

.nav_item_hover {
  text-decoration: none;
  font-size: 15px;
  display: inline-block !important;
  padding: 0em 0.75em !important;
  font-weight: 500 !important;
  pointer-events: auto;
  opacity: 1;
  z-index: 1;
}

.button_col {
  background-color:transparent !important;
  border-color: transparent !important; 
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #f52b54 !important;
  border-color: #f52b54 !important; 
}
// .myClassBlack ul > li > button {
//   background-color: red !important;
//   color: black !important;
// }
// .myClassWhite ul > li > button {
//   background-color: pink !important;
//   color: white !important;
// }
.nav-tabs .nav-link {
  color: #dc143c;
}
.tab-content{
  border: none;
}
// .btn-lg:hover {
//   color: lightgrey !important;
//   width: 100% !important;
// }
.table_color{
   background-color: #232227;
  color: #fff;
}
.btn_width_form{
  min-width: 250px;
  max-width: 250px;
}
