@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.margin_add {
  margin-right: -6%;
}

.item_space {
  padding-left: 13% !important;
  text-align: center;

}

.nav_item_hover {
  text-decoration: none;
  font-size: 15px;
  display: inline-block !important;
  padding: 0em 0.75em !important;
  font-weight: 500 !important;
  pointer-events: auto;
  opacity: 1;
  z-index: 1;
}