@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.card_style{
    width: 12rem;
    border: 1px solid gray;
    border-radius: 5px !important;
}
.card_center{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}
.margin_btn_sm{
    margin-left: 25%;
}
.input_wid{
    width: 82% !important;
}