.mandatory {

    font-style: italic;
    color: #a9a9a9;
    margin: 22px 0;

}

.heading-form {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 22px;
    margin-bottom: 11px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.second-heading-form {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

input[type="radio"] {
    display: none;

}

input[type="radio"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: transparent;
    vertical-align: middle;
    border: 2px solid #d0e3e9;
    border-radius: 50%;
    padding: 3px;
    margin: 0 5px;

}

input[type="radio"]:checked+label span {
    width: 19px;
    height: 19px;
    background: black;
    background-clip: content-box;
    background-color: #dc143c;
    // -webkit-transition: border .15s ease-in-out;
    // -o-transition: border .15s ease-in-out;
    // transition: border .15s ease-in-out;
}

label {
    font-family: 'Montserrat', sans-serif;
}

input {
    font-family: 'Montserrat', sans-serif;
}

.lables-div {
    width: 46%;
    padding-right: 40px;
}

.lables-divs {
    width: 37%;
}

.div-search-input {
    width: 33%;
}

.second-lable {
    margin-left: 45px;
    // font-weight: normal;
    // cursor: pointer;
}

// .register-half-div{

// }
.register-half-img {
    width: 100%;
    height: auto;
}

.ace-xcode .ace_gutter {
    height: 17px !important;
}

.search-input {
    border: 1px solid #d0e3e9;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: none;
    padding: 6px 6px 6px 10px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.form-control-dark:focus {
    background-color: transparent !important;
    color: 'black'
}

.search-input:focus {
    border: 2px solid black;
}

.search-input::placeholder {
    padding: 1px;
    color: #aaa7a7 !important;
}

.search-input-post::placeholder {
    font-size: 12px;
}

.form-bg {
    background-color: #fff;
}

.select-box-dark {
    color: white;
    background: #232227;
    border: 1px solid white;
}

.search-input-div {
    width: 71%;
    font-family: 'Montserrat', sans-serif;
}

.already-login {
    font-family: 'Montserrat', sans-serif;
}

.search-input-div1 {
    margin-left: 61px !important;
}

.register-number {
    width: 195px;
}

.input-group-text {
    border-color: #dee2e6;
    padding: 0.1rem 0.75rem !important;
}

.btn-default {
    color: #fff;
    background-color: #DC143C;
    border: none;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 3px;
    align-items: center;
    display: flex;
    line-height: 0;


}

.btn-find-post {
    width: 84px;
}

.find-btn-postcode button {
    height: 95%;
}

.para-form-div {
    width: 90%;
}

.formbuilder-dark div div .formbuilder .formarea .formio-component .formio-form .builder-components .builder-component .formio-component label {
    color: white !important;
}

.formbuilder-light div div .formbuilder .formarea .formio-component .formio-form .builder-components .builder-component .formio-component label {
    color: black;
}

.formbuilder {
    top: 54px;
}

.has-feedback .form-control {
    padding-left: 14px !important;
}

.col-form-label {
    padding-left: 14px;
}

.form-check-label {
    margin-left: 30px !important;
}

.field-required {
    padding-left: 13px !important;
}

.para-form {

    //   padding: 25px;
    padding-top: 0;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}

.lable-form {
    font-size: 16px;
    line-height: 1.42857143;
    color: #17264d;
    font-weight: 600;
}

.auth-form-btn {
    padding: 8px 32px;
    font-size: 20px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.hover-text-white {
    background: #dc143c !important;
    border: 1px solid #dc143c !important;
    padding: 8px 18px !important;
    font-size: 20px !important;
    line-height: 1.3333333 !important;
    border-radius: 6px !important;
    color: white !important;
}

.hover-text-white:hover {
    background: #f52b54 !important;
    border: 1px solid #f52b54 !important;
    padding: 8px 18px !important;
    font-size: 20px !important;
    line-height: 1.3333333 !important;
    border-radius: 6px !important;
    color: white !important;
}

.register-here {
    cursor: pointer;
    color: #dc143c !important;
}

.register-here:hover {
    cursor: pointer;
    color: #f52b54 !important;
}

.FBKub {
    height: 100vh !important
}

.hover-text-dark {
    background: #000 !important;
    border: 1px solid #000;
    padding: 8px 32px;
    font-size: 20px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: white !important;
}

.hover-text-dark:hover {
    background: #2ee86a !important;
    border: 1px solid #2ee86a;
    padding: 8px 32px;
    font-size: 20px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: white !important;
}

.show_result {
    color: red;
}

.radius_sal {
    border-radius: 2px !important;
}

.euro_size {
    font-size: 25px;
    height: 34px;
}

.input_height_register {
    height: 0.75rem !important;
    padding: 1rem 0.75rem !important;
}

.input_height_register:focus {
    border: 1px solid #000000 !important;
    box-shadow: none !important;
}

.para_col {
    color: #dc143c;
}

.search-pay-div {
    /* width: 71%; */
    font-family: "Montserrat", sans-serif;
}

.text-end {
    display: flex;
    text-align: right !important;
}

.input-for-registration {
    width: 100%;
}

.selectflex {
    display: flex;
}

.lable-fix-width {
    width: 25%;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #f3969a;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .second-lable {
        margin-top: 15px;
        margin-left: 0;

    }

    .search-by-margin {
        margin-top: 102px;
    }

    .second-heading-form {
        line-height: 3.5;
        margin-left: 13px;
        margin-bottom: 0;
    }

    .heading-second-business {
        font-size: 16px;
        line-height: 14px;
        margin-bottom: 22px;
        margin-left: 0;
    }

    .company-number-registration {
        margin-left: 0;
    }

    .search-input-div {
        width: 60%;
    }

    .search-input-div1 {
        margin-left: 0 !important;
    }

    .text-end {
        display: block;
        text-align: center !important;
    }

    .field-icon {
        top: 48px;
    }

    .business-search-button {
        margin-right: 14px;
    }

    .selectflex {
        display: block;
        justify-content: space-between;
    }

    .div-search-inputs {
        width: 100%;
    }

    .auth .brand-logo {
        margin-bottom: 0;
    }

    .heading-form {
        font-size: 25px;
    }

    .lable-fix-width {
        width: 100%;
    }

    .setpassword-heading {
        font-size: 23px;
    }

    .navbar .navbar-menu-wrapper {
        width: calc(100% - 160px);
        padding-top: 12px;
        padding-left: 15px;
        padding-right: 11px;
        height: auto;
    }

    .navbar .navbar-brand-wrapper .brand-logo-mini img {
        width: 100%;
        max-width: 100%;
        margin: auto;
    }

    .navbar .navbar-brand-wrapper {
        width: 160px;
        height: 59px;
    }

    .sidebar-mini {
        top: -40px !important;
    }
}

/* Media Query for low resolution  Tablets, Ipads */

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .second-lable {
        font-size: 13px;
        margin-left: 10px;
    }

    .navbar .navbar-brand-wrapper {
        width: 17%;
        height: 59px;
    }

    .navbar .navbar-brand-wrapper .brand-logo-mini img {
        width: calc(159px - 0px);
        max-width: 100%;
        margin: auto;
    }

    .navbar .navbar-menu-wrapper {
        width: calc(100% - 17%);
        padding-top: 12px;
        padding-left: 15px;
        padding-right: 11px;
        height: auto;
    }

    .sidebar-offcanvas {
        background-color: #F4F5F7;
    }

    .second-lable1 {
        font-size: 13px;
    }

    .lable-first {
        font-size: 13px;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        background-color: green;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
        background-color: white;
    }
}

.confirm_text {
    color: #dc143c !important;
}

.confirm_text:hover {
    color: #f52b54 !important;
}

input[type=checkbox] {
    accent-color: #dc143c !important;
}

.business-btn-height {
    height: 37px;
}
.btn:focus{
    box-shadow: none !important;
    }